Package: com.dao.batteryhealth
Name: BatteryHealth(rootless)
Version: 1.0.2
Architecture: iphoneos-arm
Description: 修复更换电池后，电池健康显示维修或无法验证的问题。
Maintainer: PoomSmart
Author: PoomSmart
Section: 嗨-工具
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 11.3)
Conflicts: com.ps.batteryhealthenabler

